.TopButton.pulse {
    display: none;
}

.XPromoAdFeed.mSmall {
    display: none;
}

.DualPartInterstitialFooter {
    display: none;
}

.XPromoPill {
    display: none;
}

.XPromoPopup {
    display: none;
}