.TopButton.pulse {
    display: none;
}

.XPromoAdFeed.mSmall {
    display: none;
}

.DualPartInterstitialFooter {
    display: none;
}

.XPromoPill {
    display: none;
}

.XPromoPopup {
    display: none;
}

body[amp-x-app_selector_iterations_v2_2=new_animation_blue_button] div.AppSelectorModal__body.new_animation_blue_button[\[hidden\]="isUpsellHidden != 0"] {
    display: none;
}
