.TopButton.pulse {
    display: none;
}

.XPromoAdFeed.mSmall {
    display: none;
}

.DualPartInterstitialFooter {
    display: none;
}

.XPromoPill {
    display: none;
}

.XPromoPopup {
    display: none;
}

div.AppSelectorModal__body.new_animation_blue_button[\[hidden\]="isUpsellHidden != 0"] {
    display: none;
}
